.container {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.menu-container {
  top: 6vh;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
}

.menu-title {
  text-align: center;
}

.menu-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


.menu-item {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
