<ngx-particles
  [id]="id"
  [options]="particlesOptions"
  class="container">
</ngx-particles>

<div class="menu-container">
    <h1 class="menu-title">Dostępne menu</h1>

  <app-menu-category></app-menu-category>

  <input
    type="text"
    class="search"
    placeholder="Wyszukaj..."
    [(ngModel)]="searchMenuItem"
    (input)="filterMenus()"
  >

  <div class="menu-groups">
    <div>

  </div>
    </div>
  <div class="menu-item-container">
    <div *ngFor="let category of filteredMenus | keyvalue">
      <h3>{{category.key}}</h3>
      <div *ngFor="let menu of category.value" class="menu-item">
        <app-menu-item [menu]="menu"></app-menu-item>
      </div>
    </div>

  </div>

</div>
