<div class="about-section">
  <div class="about-content">
    <div class="about-text">
      <h2>O Nas</h2>
      <p>
        Witamy w naszej restauracji!<br> Jesteśmy pasjonatami serwowania najlepszej włoskiej kuchni, przygotowywanej ze świeżych składników i tradycyjnych przepisów. <br>Nasz zespół jest oddany zapewnieniu Ci niezapomnianych doznań kulinarnych.
      </p>
      <p>
        Niezależnie od tego, czy jesteś tu na szybką przekąskę, czy na pełny posiłek, gwarantujemy smak Włoch w każdej potrawie.
      </p>
    </div>
    <div class="about-image">
      <img src="assets/images/about.webp" alt="O Nas">
    </div>
  </div>
</div>
