<div class="cart-item" >
  <img [src]="item.menu.imageUrl" alt="{{ item.menu.name }}" class="item-image">
  <div class="item-details">
    <h3>{{ item.menu.name }}</h3>
    <p>{{ item.menu.category }}</p>
    <p>{{ item.menu.price | currencyPL }}</p>
  </div>

  <div class="item-quantity" >
    <button mat-icon-button (click)="removeOne()">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{ item.quantity }}</span>
    <button mat-icon-button (click)="addOne()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
