.auth-form {
  h2 {
    font-size: 2rem;
    color: var(--color-gray-800);
    margin-bottom: 1.5rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    width: 95%;

    label {
      font-size: 1rem;
      color: var(--color-gray-800);
      margin-bottom: 0.5rem;
      display: block;
    }

    input,
    .auth-button {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid var(--color-gray-800);
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: var(--color-orange-500);
        outline: none;
      }
    }

    .password-input {
      position: relative;

      button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: var(--color-gray-800);
      }
    }

    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }
}
.auth-footer {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: var(--color-gray-800);

  a {
    color: var(--color-orange-500);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-orange-600);
    }
  }
}
.auth-button {
  width: 100%;
  background-color: var(--color-orange-500);
  color: var(--color-white);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-orange-600);
  }

  &:disabled {
    background-color: var(--color-gray-800);
    cursor: not-allowed;
  }
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  width: 50%;
}

.separator .line {
  flex: 1;
  height: 1px;
  background-color: #000;
}

.separator span {
  padding: 0 10px;
  font-weight: bold;
}

.googleButton {
  margin: auto;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: lightgrey 1px solid;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleButton:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.social-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.error-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.error-container p {
  color: red;
  font-size: 1rem;
}

.fa-circle-exclamation {
  color: red;
  margin-right: 10px;
}

.error-text {
  color: red;
  display: inline;
}
