h2 {
    font-size: 2rem;
    color: var(--color-gray-800);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    width: 100%;

    label {
      font-size: 1rem;
      color: var(--color-gray-800);
      margin-bottom: 0.5rem;
      display: block;
    }

    input {
      width: 95%;
      padding: 0.75rem;
      border: 1px solid var(--color-gray-800);
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: var(--color-orange-500);
        outline: none;
      }
    }

    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }

  .auth-button {
    width: 100%;
    background-color: var(--color-orange-500);
    color: var(--color-white);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-orange-600);
    }

    &:disabled {
      background-color: var(--color-gray-800);
      cursor: not-allowed;
    }
  }

.auth-footer {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: var(--color-gray-800);
  text-align: center;

  .auth-footer-button {
    background: none;
    border: none;
    color: var(--color-orange-300);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: inherit;

    &:hover {
      color: var(--color-orange-600);
    }
  }
}
