<form [formGroup]="rememberPasswordForm"  (ngSubmit)="onSubmit()">
  <h2>Przypomnij hasło</h2>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Wprowadź swój email">
    <div *ngIf="rememberPasswordForm.get('email')?.invalid && rememberPasswordForm.get('email')?.touched" class="error-message">
      Proszę wprowadzić poprawny email.
    </div>
  </div>
  <button type="submit" class="auth-button" [disabled]="rememberPasswordForm.invalid">Przypomnij hasło</button>
</form>

<p class="auth-footer">
  <button class="auth-footer-button" (click)="back()">Powrót do logowania</button>
</p>
