.container {
  width: 90%;
  display: flex;
  justify-self: center;
  flex-direction: row;
  border-radius: 20px;
  border: #989595 2px solid;
  margin: 20px 0 10px 0;
  align-items: center;
  font-size: 18px;
  box-shadow: #989595  0 5px 10px 0;
}

.container:hover {
  cursor: pointer;
  background-color: #d0d0d0;
}

.container img {
  width: 120px;
  height: 100px;
  border-radius: 20px;
}

