<div class="change-menu">
  <div class="first-section">
    <i class="fa-solid fa-chevron-left" (click)="backToMenuProfileDialog()"></i>
    <h2>Zmień hasło</h2>
    <i class="fa-regular fa-circle-xmark" (click)="closeDialog()"></i>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="changePassword()">
    <div class="input-container">
      <label for="oldPassword">Stare hasło</label>
      <div class="password-wrapper">
        <input id="oldPassword" type="password" formControlName="oldPassword" name="oldPassword" placeholder="Stare hasło" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisibleOldPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('oldPassword')"></i>
      </div>
    </div>

    <div class="input-container">
      <label for="newPassword">Nowe hasło</label>
      <div class="password-wrapper">
        <input id="newPassword" type="password" formControlName="newPassword" name="newPassword" placeholder="Nowe hasło" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisibleNewPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('newPassword')"></i>
      </div>
      <div class="error-container" *ngIf="showErrorFor('newPassword')">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>Hasło musi mieć co najmniej 8 znaków, zawierać jedną wielką literę i jeden znak specjalny (!#).</p>
      </div>
    </div>

    <div class="input-container">
      <label for="confirmPassword">Potwierdź hasło</label>
      <div class="password-wrapper">
        <input id="confirmPassword" type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Potwierdź hasło" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisibleConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('confirmPassword')"></i>
      </div>
      <div class="error-container" *ngIf=" showErrorFor('confirmPassword')">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>Hasła nie są identyczne</p>
      </div>
    </div>

    <div class="error-container" *ngIf=isError>
      <i class="fa-solid fa-circle-exclamation"></i>
      <p>Błąd zmiany hasła</p>
    </div>

    <button type="submit" [ngClass]="{'invalid-button': !resetForm.valid}">Zmień hasło</button>

  </form>

</div>
