
:root {
  --color-white: #ffffff;
  --color-whitesmoke: whitesmoke;
  --color-gray-800: #1a202c;
  --color-orange-300: #faa86f;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--color-gray-800);
}

a {
  color: var(--color-gray-800);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-orange-500);
  }
}
