<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <i class="fas fa-utensils"></i>
      <a routerLink="/">Restauracja</a>
    </div>


    <div class="desktop-menu">
      <button *ngIf="cart.length > 0" class="cart-button" (click)="openBasketDialog()">
        <i class="fas fa-shopping-cart"></i>
        <span>{{cart.length}} pozycji za {{totalPrice | currencyPL}}</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <a routerLink="/">Strona główna</a>
      <a routerLink="/menu">Menu</a>
      <a *ngIf="!isAuth" routerLink="/auth" class="login-button">Zaloguj się</a>
      <button *ngIf="isAuth" (click)="openMenuDialog()" class="login-button">Moje konto</button>
    </div>

    <div class="mobile-menu-button">
      <button (click)="toggleMenu()">
        <svg viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>
  </div>

  <div *ngIf="isMenuOpen" class="mobile-menu">
    <a routerLink="/">Strona główna</a>
    <a routerLink="/menu">Menu</a>
    <a *ngIf="!isAuth" routerLink="/auth" class="login-button">Zaloguj się</a>
    <button *ngIf="isAuth" (click)="openMenuDialog()" class="login-button">Moje konto</button>
  </div>
</nav>
